#home-btn {
	width: fit-content;
}

@media (min-width: 576px) {
	.container {
		display: grid;
		grid-template-columns: 3fr 200px;
		grid-auto-rows: auto;
		grid-template-areas:
			'main bio'
			'main main'
			'ft ft';
	}
}

@media (max-width: 768px) {
	.blog-content {
		margin-top: 5%;
	}

	.card {
		width: 80%;
		margin: auto;
		padding: 2%;
	}
}

.blog-content {
	display: flex;
	flex-direction: column;
	grid-area: main;
	/* margin-top: 10%; */
}

.blog-bio {
	display: flex;
}

.blog-text {
	color: #443936;
	font-weight: 600;
	margin-top: 5%;
	padding-left: 10px;
	border-left: 1px solid black;
}

ol {
	margin-left: 8%;
}

#blog-fig {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

figcaption {
	padding-bottom: 10px;
}

.card {
	width: 80%;
	margin: auto;
	padding: 2%;
}

.author-img {
	max-width: 50%;
	height: auto;
	border-radius: 5px;
	margin-bottom: 10px;
}

.author-info {
	width: 100%;
	/* text-align: right; */
	/* margin-left: 50px; */
}

.go-back {
	background-color: #fff;
	border: 1px solid #d5d9d9;
	border-radius: 8px;
	box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
	box-sizing: border-box;
	color: #0f1111;
	cursor: pointer;
	display: inline-block;
	font-family: 'Amazon Ember', sans-serif;
	font-size: 13px;
	line-height: 29px;
	padding: 0 10px 0 11px;
	position: relative;
	text-align: center;
	text-decoration: none;
	touch-action: manipulation;
	vertical-align: middle;
	width: 100px;
	margin-bottom: 10px;
}

.go-back:hover {
	background-color: #f7fafa;
}

.go-back:focus {
	border-color: #008296;
	box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
	outline: 0;
}

@media(max-width: 400px) {
	#author-img {
		width: 80%;
		height: 100px;
		padding-bottom: 10px;
	}

	.blog-bio {
		flex-direction: column;
	}

	.card {
		display: flex;
		/* flex-direction: column; */
		justify-content: space-between;
		width: 40%;
		padding: 10%;
		margin-top: 10%;
		height: 100px;
	}
}