.blog {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: aliceblue;
	box-shadow: 10px 5px 5px #e8fdff;
	font-size: 16px;
	margin: 5%;
}

@media(min-width: 577) {
	.blog-content {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
}

[class='blog-img'] {
	object-fit: cover;
	width: 60%;
	margin: 20px 30px 10px 70px;
}

div > span {
	/* text-align: center; */
    color: gray;
}

@media (max-width: 576px) {
	.content {
		display: flex;
		flex-direction: column;
	}

	.blog {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 65%;
		height: 220px;
		margin: 40px 40px 20px 80px;
	}

	[class='blog-img'] {
		object-fit: cover;
		width: 60%;
        margin-bottom: 10px;
	}
}
